version: '3.8'

services:
  server:
    build: ./server
    ports:
      - "3000:3000"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/typearena
      - PORT=3000
    depends_on:
      - mongo

  client:
    build: ./client
    ports:
      - "5173:5173"
    environment:
      - VITE_WS_URL=ws://localhost:3000
    depends_on:
      - server

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
